.home-container {
  font-family: sans-serif;
  background: #f4f6fb; /* light background */
  /* padding: 20px; */
}

/* FILTER BAR */
.filter-bar {
  display: flex;
  gap: 15px;
  margin-bottom: 20px;
}

.filter-bar input,
.filter-bar select {
  padding: 8px 12px;
  border: 1px solid #d0d5dd;
  border-radius: 8px;
  font-size: 14px;
  background: #ffffff;
  color: #333;
}

/* GRID */
.machine-grid {
  left: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  gap: 20px;
}

.filter-bar {
  margin: 20px 0 20px 20px;
}

.machine-grid {
  margin-left: 20px ;
  margin-right: 20px;
}


/* CARD */
.machine-card {
  border: 1px solid #e4e7ec;
  border-radius: 12px;
  padding: 12px;
  background-color: #f9fafb; /* soft grey */
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  min-height: 240px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* HEADER (BLUE TAG STYLE) */
.machine-header {
  background-color: #4f46e5; /* blue/purple */
  color: white;
  font-weight: 600;
  padding: 6px 14px;
  border-radius: 16px;
  margin-bottom: 12px;
  font-size: 13px;
  width: fit-content;
}

/* DETAILS */
.machine-detail {
  display: flex;
  justify-content: space-between;
  margin: 6px 0;
  font-size: 14px;
  color: #374151;
}

/* ICON + TEXT */
.machine-detail span {
  display: flex;
  align-items: center;
  gap: 6px;
}

/* LAST FAILURE (RED) */
.machine-detail .highlight {
  color: #851c1c; /* red */
  font-weight: 600;
}

/* LAST FAILURE (RED) */
.machine-detail:nth-child(2) span:last-child {
  color: #ef4444;
  font-weight: 600;
}

/* LAST MAINTENANCE (BLACK) */
.machine-detail:nth-child(3) span:last-child {
  color: #111827;
  font-weight: 500;
}

/* NEXT MAINTENANCE (GREEN) */
.machine-detail:nth-child(4) span:last-child {
  color: #16a34a;
  font-weight: 500;
}

/* PREDICTED FAILURE TIME (RED) */
.machine-detail:nth-child(5) span:last-child {
  color: #ef4444;
  font-weight: 600;
}